* {
    margin: 0;
    padding: 0;
}

html,
body{
    // font-family: Graphik, Helvetica Neue, Arial, sans-serif;
    font-family: Merriweather, Georgia, serif;
    overflow-x: hidden;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}



/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    box-shadow:inset006pxrgba(0,0,0,0.3);
    border-radius:10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:rgba(255, 146, 22, 0.8);
    -webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
}
// ::-webkit-scrollbar-thumb:window-inactive {
//     background:rgba(255,0,0,0.4);
// }
// ::scrollbar-base-color:color{
//     background: #000;
// }